<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ng Title</title>
</head>

<body>
  <h1>Title: {{ title }}</h1>

  <form class="row" id="greet-form">
    <input id="greet-input-first-name" placeholder="Enter a first name..." />
    <br>
    <input id="greet-input-last-name" placeholder="Enter a last name..." />
    <br>
    <button type="submit">Greet</button>
    <br>
  </form>

  <p id="greet-msg"></p>
</body>

</html>

<router-outlet />